<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>728470835505-g2b5l2b7917nfkrn67r7vph59bv38bdf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.728470835505-g2b5l2b7917nfkrn67r7vph59bv38bdf</string>
	<key>API_KEY</key>
	<string>AIzaSyAN4XGXE0_1Pwz7uEdeETmXdN1-mzHjayk</string>
	<key>GCM_SENDER_ID</key>
	<string>728470835505</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>shiltsev.firestoreapp</string>
	<key>PROJECT_ID</key>
	<string>firestoreapp-85875</string>
	<key>STORAGE_BUCKET</key>
	<string>firestoreapp-85875.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:728470835505:ios:d367f5ce8af67f04566010</string>
	<key>DATABASE_URL</key>
	<string>https://firestoreapp-85875.firebaseio.com</string>
</dict>
</plist>